body {
  margin: 0;
  font-family: 'Geist', 'mono', bold;
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 10 Spalten immer */
  justify-items: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0.5vw;
  box-sizing: border-box;
  gap: 0.5vw;
  grid-auto-rows: calc((100vh - 9 * 0.5vw) / 10); /* Höhe pro Reihe */
}

.container img.foto {
  width: auto;
  height: 100%;
  object-fit: contain;
  transition: all 0.5s ease;
}

/* Button */
#mapButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px 24px;
  font-size: 1.2rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: none;
  z-index: 10;
}

/* Mobile-Anpassungen */
@media (max-width: 1024px) {
  .container img.foto {
      height: 90%; /* Bilder etwas kleiner */
  }
}

@media (max-width: 768px) {
  .container img.foto {
      height: 80%; /* kleiner auf Tablets */
  }
}

@media (max-width: 480px) {
  .container img.foto {
      height: 70%; /* klein auf Handys */
  }
}
